<table cellspacing="1" cellpadding="3" id="logs">
    <tr id="logsHeader">
        <th class="time">Time</th>
        <th class="host">Host</th>
        <th class="app">App</th>
        <th class="level">Level</th>
        <th class="message">Message</th>
    </tr> 
    <% include logs %>
</table>
