body {
    font-size: 12px;
    color: black;
}

input {
    width: 150px;
}
input.button {
    width: 110px;
}
input#reset {
    width: 50px;
    color: #223322;
}

form {
    margin: auto;
    width: 98%;
    margin-bottom: 5px;
}
table {
  background: #ABAB9A;
  margin: auto;
  width: 98%;
}
table tr td {
  background: #dddeee;
}
table tr th {
  background: #CECECE;
}

table tr th.host { width: 8%; }
table tr th.app { width: 8%; }
table tr th.time { width: 12%; }
table tr th.level { width: 4%; }
table tr th.message { width: 68%; }

tr.level4 td, tr.level3 td {
  background: #EFEFEF;
}
tr.level2 td {
  background: #FEFEFE;
}
tr.level1 td {
  background: white;
}

#footer {
    margin: 10px;
    text-align: right;
    color: gray;
}

option.title {
  background: #9a9a9a;
  font-weight: bold;
  border-bottom: 1px solid gray;
}
